<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-2.2.3.min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
		<title>终端陈列系统</title>
	</head>
	<body>
		<div class="base-info">
			<div>
				<span id="month">日期</span>
			</div>
			<div id="message-box"></div>
			
			<div>
				<span>柜台号:</span>
				<span id="countCode"></span>
				<span id="currc"></span>
			</div>
		</div>
		
		<div class="menu-line" id="show">
			<a class="btn btn-primary sub" href="wxapply">
				<img class="btnBox" src="./images/btn1.png" />
			</a>
			<a class="btn btn-primary" href="monthdata">
				<img class="btnBox" src="./images/btn2.png" />
			</a>
			<div class="tips"></div>
		</div>
		
		<div class="menu-line">
			<a class="btn btn-primary readbutton" href="lamp">
				<img class="btnBox" src="./images/btn6.png" />
			</a>
			<a class="btn btn-primary" href="lamprecord">
				<img class="btnBox" src="./images/btn5.png" />
			</a>
		</div>
		
		<div class="menu-line">
			<a class="btn btn-primary readbutton" href="#">
				<img class="btnBox" src="./images/btn3.png" />
			</a>
			<a class="btn btn-primary" href="wxme">
				<img class="btnBox" src="./images/btn4.png" />
			</a>
		</div>
		
		
		<a class="logout" href="#">
			<div class="logoutBox">退 出 登 录</div>
		</a>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
</html>
