<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" href="css/weui.css" />
		<link rel="stylesheet" href="css/wxme.css" />
		<script type="text/javascript" src="js/jquery-2.2.3.min.js" ></script>
		<script type="text/javascript" src="js/wxme.js" ></script>
		<title></title>
	</head>
	<body style="background-color: #f3f3f3;">
		<div id="counters">
		<!-- 动态显示柜台 -->
		</div>
		
		<div class="weui-btn-area">
			<a class="weui-btn weui-btn_primary" href="index">返回首页</a>
		</div>
		
	</body>
</html>
