<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>申请详情</title>

<meta name="keywords" content="">
<meta name="description" content="">

<link href="common/css/bootstrap.min.css?v=3.4.0"
	rel="stylesheet">
<link href="common/css/font-awesome.min.css?v=4.3.0"
	rel="stylesheet">
<link href="common/css/animate.min.css" rel="stylesheet">
<link href="common/dist/themes/default/style.css"
	rel="stylesheet">
<link href="common/plugins/layer/skin/layer.css"
	rel="stylesheet">

<link
	href="common/plugins/bootstraptable/bootstrap-table.min.css"
	rel="stylesheet">
<link href="common/plugins/bootstrap-slider/slider.css">
<link href="common/css/skins.css" rel="stylesheet">
<link href="common/css/site.css" rel="stylesheet">
<link href="common/css/AdminLTE.min.css" rel="stylesheet">
<link href="css/adm.css" rel="stylesheet">
</head>
<body class="col-sm-12">
	<div id="toolbar">
		<div class="form-horizontal">
			<div class="col-sm-12">
				<span class="appMonth"></span>陈列提交
			</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">店面柜台号：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<input id="counterCode" name="counterCode" readonly="readonly"
						class="form-control">
				</div>
				<label class="col-sm-2 control-label" style="padding-top: 15px">店面名称：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<input id="counterName" name="counterName" readonly="readonly"
						class="form-control">
				</div>
			</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">店面面积：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<input id="area" name="area" readonly="readonly"
						class="form-control">
				</div>
				<label class="col-sm-2 control-label" style="padding-top: 15px">所在区域：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<input id="address" name="address" readonly="readonly"
						class="form-control">
				</div>
			</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">收到物料时间：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<input id="receiveTime" name="receiveTime" readonly="readonly"
						class="form-control">
				</div>
				<label class="col-sm-2 control-label" style="padding-top: 15px">物料满意度：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<input id="satisfy" name="satisfy" readonly="readonly"
						class="form-control">
				</div>
			</div>
			<div class="col-sm-12">上传照片：</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">门头整体：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<img id="url1" class="counterImg" src="common/img/no.png">
				</div>
				<label class="col-sm-2 control-label" style="padding-top: 15px">主推台：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<img id="url2" class="counterImg" src="common/img/no.png">
				</div>
			</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">集中售卖区：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<img id="url3" class="counterImg" src="common/img/no.png">
				</div>
				<label class="col-sm-2 control-label" style="padding-top: 15px">高柜原则：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<img id="url4" class="counterImg" src="common/img/no.png">
				</div>
			</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">面膜/排行榜/植萃美眼：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<img id="url5" class="counterImg" src="common/img/no.png">
				</div>
				<label class="col-sm-2 control-label" style="padding-top: 15px">护理区：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<img id="url6" class="counterImg" src="common/img/no.png">
				</div>
			</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">工服：</label>
				<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<img id="url7" class="counterImg" src="common/img/no.png">
				</div>
			</div>
			<div class="col-sm-12">
			<label class="col-sm-2 control-label" style="padding-top: 15px">店面建议 :</label>
			<div class="col-sm-3"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
				<textarea id="suggest" name="suggest" readonly="readonly" class="form-control"></textarea>
			</div>
			</div>
			<div class="col-sm-12">
				<label class="col-sm-2 control-label" style="padding-top: 15px">审核选项 :</label>
				<div class="col-sm-12">
				   <div class="col-sm-2 control-label" style="padding-top: 15px">审核结果:</div>
				   <div class="col-sm-4">
				      <div class="suggest100" >审核通过,继续努力 </div>
				      <div class="suggest100" >审核未通过</div>
				   </div>
				   <div class="col-sm-2 control-label" style="padding-top: 15px">其他建议</div>
				   <div class="col-sm-4">
				      <div class="suggest8">请填写店面面积，便于物料更适用店面</div>
				      <div class="suggest8">不要重复提交照片，请提交本店当月照片</div>
				   </div>
				</div>
				<div class="col-sm-12">
				   <div class="col-sm-2 control-label" style="padding-top: 15px">关于陈列:</div>
				   <div class="col-sm-4">
				      <div class="suggest8" >主推台未按陈列指导陈列 </div>
				      <div class="suggest8">高柜未按标准陈列</div>
				      <div class="suggest8">集中售卖区请陈列应季、拉新及主推品</div>
				      <div class="suggest8">收银台区域整洁并需有会员政策画面</div>
				      <div class="suggest8">橱窗区域需按标</div>
				   </div>
				   <div class="col-sm-2 control-label" style="padding-top: 15px">关于物料</div>
				   <div class="col-sm-4">
				      <div class="suggest8">月度物料请正确陈列</div>
					  <div class="suggest8">过期物料请及时更换</div>
					  <div class="suggest8">吊旗请正确悬挂</div>
					  <div class="suggest8">请勿陈列非公司配发物料，如有特殊要求请向策划部提交设计申请</div>
					  <div class="suggest8">在微信公众号输入“陈列”里边有新品物料</div>
				   </div>
				</div>
			</div> 
			<!-- <div class="col-sm-12" style="min-width: 1000px; margin-top: 10px;">
				<label class="col-sm-2 control-label" style="padding-top: 15px">分数 :</label>
				<div class="col-sm-1" style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<input type="text" id="marks" name="mark" readonly="readonly" class="form-control"/>
				</div>
			</div> -->
			<div class="col-sm-12" style="height: 97.9%; min-width: 1000px; margin-top: 10px;" id="auditsuggestBlock">
				<label class="col-sm-2 control-label" style="padding-top: 15px">审核建议：</label>
        		<div id="editor" class="col-sm-10">
        		</div>
			</div>
			
			<div id="upldpdf" class="col-sm-12" style="height: 97.9%; min-width: 1000px;">
				<label class="col-sm-2 control-label" style="padding-top: 15px">上传指导文件：</label>
				<div class="col-sm-10"
					style="padding-left: 0px; padding-right: 0px; padding-top: 8px;">
					<div id="fileall" style="margin-top: 10px;"></div>
					<label class="control-label">
						<div class="btn btn-primary form-group-btn" type="button">
							<i class="fa-folder-open-o"></i>&nbsp;&nbsp;选择文件
						</div> <input id="file" accept=".pdf" style="display: none;" type="file"
						value="上传指导" onchange="previewImage(this)">
					</label> <label class="control-label">
						<button id="upload" class="btn btn-primary form-group-btn"
							type="button">
							<i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;上传
						</button>
					</label>

				</div>
			</div>
		</div>
		<div class="bigImgBlock">
			<img id="bigImg" src="">
		</div>
		
	</div>
	<!-- 全局js -->
	<script src="common/js/jquery-2.2.3.min.js"></script>
	<script src="common/plugins/layer/layer.js"></script>
	<script src="common/js/jquery.cookie.js"></script>
	<script src="common/js/bootstrap.min.js"></script>
	<script src="common/js/wangEditor.min.js"></script>
	<script
		src="common/plugins/bootstraptable/bootstrap-table.min.js"></script>
	<script
		src="common/plugins/bootstraptable/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="js/config.js"></script>
	<script type="text/javascript">
	var E = window.wangEditor
    var editor = new E('#editor');
    // 或者 var editor = new E( document.getElementById('editor') )
		editor.customConfig.uploadImgServer = 'apply/suggestImg.do';
	    //设置上传的参数名
	    editor.customConfig.uploadFileName = 'file';
	    // 隐藏“网络图片”tab
	    editor.customConfig.showLinkImg = false;
	    // 将图片大小限制为 10M
	    editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
	    editor.customConfig.uploadImgHooks = {
	    	    customInsert: function (insertImg, result, editor) {
	    	                // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
	    	                // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
	    	         
	    	                // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
	    	                var url =result.data;
	    	                insertImg(url);
	    	            }
	    	        }
    editor.create();
		$(function() {
			var id = window.Config.GetQueryString("id");
			window.Config.Ajax(window.Config.Domain
				+ window.Config.Services.queryApplydetail, {
					id : id
				},'GET', function(result) {
					if (result.status == 0) {
						$(".appMonth").text(result.data.appMonth);
						$('#counterCode').val(result.data.counter.counterCode);
						$('#counterName').val(result.data.counter.counterName);
						$('#area').val(result.data.counter.area);
						// $('#marks').val(result.data.mark);
						$('#address').val(result.data.counter.address);
						$('#receiveTime').val(dateFormat(result.data.receiveTime));
						$('#satisfy').val(result.data.satisfy);
						$('#suggest').val(result.data.suggest);
						$('.w-e-text').html(result.data.auditsuggest);
						$.each(result.data.piclist,function(i,file){
							if(file.url!=''){
								$('#url'+file.areatype).attr('src',file.url);
							}
						})
					}else {
						layer.alert(result.message[0], {
							closeBtn : 0,
							skin : 'layui-layer-molv',
							icon : 2
						});
					}
				}
	
			);
		});
		var src='';
		function previewImage(file){
		  	 if (file.files && file.files[0]) {
		  	    var reader = new FileReader();
		  	    reader.onload = function(evt) {
		  	    	$("#fileall").append("<div class='fileLeft'><img class='fileImg' src='common/img/file.png'></div><div class='fileRight'><div>"+file.files[0].name+"</div><div>"+Number(file.files[0].size/1024).toFixed(2)+"KB</div></div><div class='clear'></div>");
		  	      src=evt.target.result;
		  	    }
		  	   reader.readAsDataURL(file.files[0]);
		  	  } else {//IE
		  		 src=evt.target.result; 
		  	  }  
   		 } 
		$("#upload").click(function(){
			window.Config.Ajax(window.Config.Domain
				+ window.Config.Services.queryUpload, {
				pdf : src
				},'POST', function(result) {
					if (result.status == 0) {
						$(".fileImg").attr("src","common/img/fileOK.png");
						
						var url =result.data;
						var useMonth =$(".appMonth").text();
						var counterCode = $('#counterCode').val();
						var name =counterCode+"->"+useMonth+"参考指导";
						
						window.Config.Ajax(window.Config.Domain + window.Config.Services.saveGuide, {
							name:name,
							accUrl:url,
							counterCode:counterCode,
							useMonth:useMonth
						},'POST', function(result) {
							if (result.status == 0) {
									alert("指导上传成功")
							}
									})
					}else{
						$(".fileImg").attr("src","common/img/fileFAIL.png");
						layer.alert(result.message[0], {
							closeBtn : 0,
							skin : 'layui-layer-molv',
							icon : 2
						});
					}
				})
		})
		function dateFormat(longTypeDate){  
				    var dateType = "";  
				    var date = new Date(longTypeDate.time);  
				    dateType = date.getFullYear()+"-"+getMonth(date)+"-"+getDay(date);//yyyy-MM-dd格式日期
				    return dateType;
				}
		function getMonth(date){  
		    var month = "";  
		    month = date.getMonth() + 1; //getMonth()得到的月份是0-11  
		    if(month<10){  
		        month = "0" + month;  
		    }  
		    return month;  
		}  
		//返回01-30的日期  
		function getDay(date){  
		    var day = "";  
		    day = date.getDate();  
		    if(day<10){  
		        day = "0" + day;  
		    }  
		    return day;  
		}
		$(".suggest100").click(function(){
			var sugText=$(this).html();
			var wetext=$(".w-e-text").html();
			if($(this).css("background-color")=='rgb(0, 128, 0)'){
				$(".w-e-text").html(wetext+"<br>审核结果:"+sugText);
				$(this).css("background-color","#4898d5");
				// var xx =$("#marks").val();
				// if(xx ==0){
				// 	xx=100;
				// }
				// $("#marks").val(xx);
			}else{
				var endText=wetext.split("<br>审核结果:"+sugText).join('');
				$(".w-e-text").html(endText);
				$(this).css("background-color","green");
				// $("#marks").val("");
			}
		})
		$(".suggest8").click(function(){
			var sugText=$(this).html();
			var wetext=$(".w-e-text").html();
			// var xx =$("#marks").val();
			if($(this).css("background-color")=='rgb(255, 0, 0)'){
				$(".w-e-text").html(wetext+"<br>建议:"+sugText);
				
			}else{
				var endText=wetext.split("<br>建议:"+sugText).join('');
				$(".w-e-text").html(endText);
			}
		})
		$(".counterImg").click(function(){
			 var image = new Image()
		    image.src = $(this).attr('src');
		    var naturalWidth = image.width;
		    var naturalHeight = image.height;
		    var layerWidth=$(window).width();
		    var layerHeight=$(window).height();
		    $("#bigImg").attr('src',$(this).attr('src'));
		    if(Number(naturalWidth*layerHeight)>Number(layerWidth*naturalHeight)){
		    	$("#bigImg").width(layerWidth);
		    	$("#bigImg").height(Number(layerWidth*naturalHeight/layerHeight));
		    	$("#bigImg").css({'top':layerHeight*0.5-Number(layerWidth*naturalHeight*0.5/layerHeight),'left':'0px'});
		    }else{
		    	$("#bigImg").height(layerHeight);
		    	$("#bigImg").width(Number(naturalWidth*layerHeight/naturalHeight));
		    	$("#bigImg").css({'top':'0px','left':layerWidth*0.5-Number(naturalWidth*layerHeight*0.5/naturalHeight)});
		    }
		    $(".bigImgBlock").show();
			})
		$("#bigImg").click(function(){
			$('.bigImgBlock').hide();
			$(this).attr('src','');
		})
		</script>
</body>
</html>
